@font-face {
  font-family: 'Ambit';
  font-weight: 100;
  font-style: normal;
  src: url('./Ambit/Ambit-Thin.woff2') format('woff2'),
    url('./Ambit/Ambit-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 100;
  font-style: italic;
  src: url('./Ambit/Ambit-ThinItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 200;
  font-style: normal;
  src: url('./Ambit/Ambit-ExtraLight.woff2') format('woff2'),
    url('./Ambit/Ambit-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 200;
  font-style: italic;
  src: url('./Ambit/Ambit-ExtraLightItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-ExtraLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 300;
  font-style: normal;
  src: url('./Ambit/Ambit-Light.woff2') format('woff2'),
    url('./Ambit/Ambit-Light.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 300;
  font-style: italic;
  src: url('./Ambit/Ambit-LightItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 400;
  font-style: normal;
  src: url('./Ambit/Ambit-Regular.woff2') format('woff2'),
    url('./Ambit/Ambit-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 600;
  font-style: normal;
  src: url('./Ambit/Ambit-SemiBold.woff2') format('woff2'),
    url('./Ambit/Ambit-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 600;
  font-style: italic;
  src: url('./Ambit/Ambit-SemiBoldItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 700;
  font-style: normal;
  src: url('./Ambit/Ambit-Bold.woff2') format('woff2'),
    url('./Ambit/Ambit-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 700;
  font-style: italic;
  src: url('./Ambit/Ambit-BoldItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 700;
  font-style: normal;
  src: url('./Ambit/Ambit-Bold.woff2') format('woff2'),
    url('./Ambit/Ambit-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 700;
  font-style: italic;
  src: url('./Ambit/Ambit-BoldItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 900;
  font-style: normal;
  src: url('./Ambit/Ambit-Black.woff2') format('woff2'),
    url('./Ambit/Ambit-Black.woff') format('woff');
}
@font-face {
  font-family: 'Ambit';
  font-weight: 900;
  font-style: italic;
  src: url('./Ambit/Ambit-BlackItalic.woff2') format('woff2'),
    url('./Ambit/Ambit-BlackItalic.woff') format('woff');
}
