@font-face {
  font-family: 'Ambit';
  src: url('Ambit-Bold.woff2') format('woff2'),
    url('Ambit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-Black.woff2') format('woff2'),
    url('Ambit-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-Thin.woff2') format('woff2'),
    url('Ambit-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-Light.woff2') format('woff2'),
    url('Ambit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-Regular.woff2') format('woff2'),
    url('Ambit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-ExtraLight.woff2') format('woff2'),
    url('Ambit-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-Italic.woff2') format('woff2'),
    url('Ambit-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-SemiBoldItalic.woff2') format('woff2'),
    url('Ambit-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-LightItalic.woff2') format('woff2'),
    url('Ambit-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-BoldItalic.woff2') format('woff2'),
    url('Ambit-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-SemiBold.woff2') format('woff2'),
    url('Ambit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-ThinItalic.woff2') format('woff2'),
    url('Ambit-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-ExtraLightItalic.woff2') format('woff2'),
    url('Ambit-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('Ambit-BlackItalic.woff2') format('woff2'),
    url('Ambit-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
