@import './../../../styles/settings/__settings.scss';

.c-header {
  height: 50px;
  &__logo {
    font-family: $font-ambit;
    font-size: 24px;
    color: $color-white;
    padding-left: 20px;
    height: 50px;
    width: 100%;
    background: $color-black;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 998;
    &-icon {
      display: flex;
    }
    &-full {
      display: none;
    }
  }
  &__line {
    background-image: linear-gradient(45deg, $color-red, $color-blue);
    height: 100vh;
    width: 6px;
    position: absolute;
    top: 0;
  }
}

.c-navigation {
  &__link {
    transition: all 0.3s ease;
    cursor: pointer;
    line-height: 36px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    width: max-content;
    &.is-active {
      color: $color-blue;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $color-blue;
    }
    &:hover {
      color: $color-blue;
      .c-navigation__link--arrow,
      &:hover {
        transition: all 0.3s ease;
        fill: $color-blue;
      }
    }
  }
  &__hamburger {
    display: block;
    position: fixed;
    right: 0;
    padding-top: 12px;
    padding-right: 16px;
    z-index: 999;
    & .hamburger-inner {
      background-color: $color-white;
      // height: 2px;
      // border-radius: 0;
      &:before,
      &:after {
        background-color: $color-white;
        // height: 2px;
        // border-radius: 0;
      }
    }
  }
  &__header {
    width: 100%;
    display: flex;
    padding: 20px 24px;
    @include l {
      padding: 20px 60px;
    }
  }
  &__menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    color: $color-white;
    transition: 0.5s;
    background: $color-black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 90px;
    &--open {
      width: 250px;
    }
    &-item {
      padding-left: 60px;
    }
  }
}
