/*------------------------------------*\
    # COLORS
\*------------------------------------*/

// UR COLORS 2021
$color-black: #000000;
$color-dark-gray: #474747;
$color-gray: #8f8f8f;
$color-light-gray: #b3b3b3;
$color-soft-gray: #d6d6d6;
$color-white: #f9f9f9;
$color-dark-blue: #004bac;
$color-blue: #2e89ff;
$color-soft-blue: #88bbff;
$color-dark-red: #ac0006;
$color-red: #ff2e35;
$color-soft-red: #ff888b;
$color-dark-purple: #8400ac;
$color-purple: #ce2eff;
$color-soft-purple: #e388ff;
$color-dark-green: #28ac00;
$color-green: #5fff2e;
$color-soft-green: #a3ff88;
